body 
{
	margin:0px;
	background-color: #1abc9c;
}

.form
{
	color:#fff;
	font-size: 25px;
	margin-left: 37%;
	margin-top:22%;
	font-family: "Arial";
}

input[type=submit]
{
	margin-left: 10px;
}

input[type=text]
{
	color:#000;
}
